@import "tailwindcss";

@theme {
  --color-main: #6c9bcf;
  --color-softBlue: #6c9bcf;
  --color-softGreen: #a2d9a0;
  --color-lightGray: #eee;
  --color-warmYellow: #ffd966;
  --color-coral: #ff6f61;
}
