@import "tailwindcss";

@theme {
  --color-primary: #a851b6; /*purple*/
  --color-secondry: #ff8000; /*orange*/
  --color-muted: ;
  --color-light: #cfe1ec; /*teal*/
  --color-lighter: #f1f5f9; /*gray*/
  --color-dark: #1e293b; /*navy*/
  --color-darker: #020817; /*black*/

  --animate-slide-right: slide-right 1s ease-in-out;
  --animate-slide-left: slide-left 1s ease-in-out;
}

@keyframes slide-right {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
    display: none;
  }
}
