@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #2e4985; /*blue*/
  --color-background: #f1f5f9; /*gray*/
  --color-foreground: #cfe1ec; /*teal*/
  --color-surface: #fff; /*white*/
}

.dark {
  --color-primary: #ff8000;
  --color-background: #121212;
  --color-foreground: #1f1f1f;
  --color-surface: #e5e7eb;
}

progress::-webkit-progress-value {
  background: var(--color-primary);
  border-radius: 1rem;
  transition: all;
  transition-duration: 400ms;
}

progress::-webkit-progress-bar {
  background: #fff;
  border-radius: 1rem;
}

.mark-down * {
  all: revert !important;
}

dialog {
  color: inherit;
}
